html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: Roboto,arial,sans-serif;
    line-height: 1.6;
}
a {
    color: inherit;
    text-decoration: none;
}
button,input {
    border: none
    font-family: inherit;
    font-size: inherit;
    outline: none;
}
button {
    cursor: pointer;
}

/*Nav*/
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 12px;
    font-size: 14px;
    justify-content: space-between;
}
.nav-right, .nav-left {
    display: flex;
    align-items: center;
}
.nav-left {
    margin-left: 12px;
}
.nav-link {
    opacity: 0.85;
    margin-right: 9px;
}
.nav-link:hover {
    text-decoration: underline;
}
.nav-link-apps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 6px;
}
.nav-link-apps:hover {
    background-color: #f0f0f0;
}
.alien-icon {
    margin-right: 12px;
    margin-top: 8px;
    border-radius: 50%;
}
.alien-icon:hover {
    transition: .5s;
    background-color: #f0f0f0;
}

/*Main Body*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    margin-top: 50px;
}
.dope-logo {
    width: 500px;
    height: 500px;
    margin-bottom: -111px;
    margin-top: -132px;
}
.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 20px;
    padding: 10px;
    border: 1px;
    border-radius: 30px;
}
.searchbar:hover, .searchbar:focus-within {
    border-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.search-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.search-input {
    width: 100%;
    height: 100%;
    border: none;
}
.vs-mic {
    width: 25px;
    height: 25px;
    border: none;
    margin-top: 8px;
}
.search-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 30px;
}
.button-search {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #3c4043;
    font-size: 14px;
}
.button-search:hover {
    background-color: #dadce0;
    box-shadow:0 1px 1px rgb(000/10%);
}
.button-search:focus {
    border-color: blue;
}

/*Footer*/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
    border: 1px solid;
    border-color: #ddd;
    background-color: #f2f2f2;
    color: #707577;
    font-size: 14px;
}
.left-side, right-side: {
    display: flex;
}
.right-side {
    margin-right: 30px;
}
.footer-link {
    display: inline-block;
    padding: 10px 0 10px 30px
}
.footer-link:hover {
    text-decoration: underline;
}




































